<div class="ui-g">
    <div class="ui-g-12">
        <p-messages [(value)]="sysMessages"></p-messages>

        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Quality Indicators</h1>
                <p-dataTable [value]="appChecks">
                    <p-column field="description" header="Indicator" [headerStyle]="{'font-weight':'bold'}"></p-column>
                    <p-column field="message" header="Status" [headerStyle]="{'font-weight':'bold'}">
                        <ng-template let-col let-check="rowData" pTemplate="body">
                            <span [style.color]="check.status==='Pass'?'Green':'Red'">{{check[col.field]}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="timeAgo" header="Checked" [headerStyle]="{'font-weight':'bold'}"></p-column>
                </p-dataTable>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>EMR Indicators</h1>
                <p-dataTable [value]="indicators">
                    <p-column field="indicator" header="Indicator" [headerStyle]="{'font-weight':'bold'}"></p-column>
                    <p-column field="indicatorValue" header="Value" [headerStyle]="{'font-weight':'bold'}"></p-column>
                    <p-column field="description" header="Description" [headerStyle]="{'font-weight':'bold'}"></p-column>
                    <p-column field="status" header="Status" [headerStyle]="{'font-weight':'bold'}">
                        <ng-template let-col let-check="rowData" pTemplate="body">
                            <span [style.color]="check.status==='Checked'?'Green':'Red'">{{check[col.field]}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="indicatorDate" header="Period" [headerStyle]="{'font-weight':'bold'}">
                        <ng-template let-col let-detail="rowData" pTemplate="body">
                            {{detail.indicatorDate| date: 'mediumDate'}}
                        </ng-template>
                    </p-column>
                    <!--
                    <p-column field="runDate" header="Date">
                        <ng-template let-col let-detail="rowData" pTemplate="body">
                            {{detail.timeAgo ? (detail.runDate | date: 'medium') :''}}
                        </ng-template>
                    </p-column>
                    <p-column field="timeAgo" header=""></p-column>
                    -->
                </p-dataTable>
            </div>
        </div>
    <div class="ui-g-12">
                <div class="card card-w-title">
                    <h1>DWAPI Metrics</h1>
                    <p-dataTable [value]="appMetrics">
                        <p-column field="name" header="Docket" [headerStyle]="{'font-weight':'bold'}"></p-column>
                        <p-column field="action" header="Activity" [headerStyle]="{'font-weight':'bold'}"></p-column>
                        <p-column field="timeAgo" header="" [headerStyle]="{'font-weight':'bold'}"></p-column>
                    </p-dataTable>
                </div>
            </div>
    </div>
</div>
