<div class="card card-w-title">
    <h1>PSMART <span style="color: lightgray">|</span> {{emrName}} <span style="font-size:13px ">{{emrVersion}}</span></h1>
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" [disabled]="!canLoadFromEmr" (click)="loadFromEmr()" label="Load from EMR"
                    icon="ui-icon-file-download" class="green-btn"></button>
        </div>

        <div class="ui-toolbar-group-right">
            <button pButton type="button" [disabled]="!canSend" (click)="send()" label="Send to Registry" icon="ui-icon-cloud-upload"
                    class="blue-btn"></button>
        </div>
    </p-toolbar>

    <p-dataTable [value]="extracts" selectionMode="single">
        <p-column field="display" header="Extract"></p-column>
        <p-column field="extractEvent.lastStatus" header="Status"></p-column>
        <p-column field="extractEvent.found" header="Found"></p-column>
        <p-column field="extractEvent.loaded" header="Loaded"></p-column>
        <p-column field="extractEvent.excluded" header="Not Loaded"></p-column>
        <p-column field="extractEvent.rejected" header="Flagged"></p-column>
        <p-column field="extractEvent.queued" header="Queued"></p-column>
        <p-column field="extractEvent.sent" header="Sent"></p-column>
    </p-dataTable>
    <p-messages [(value)]="errorMessage"></p-messages>
    <p-growl [(value)]="otherMessage"></p-growl>
    <div>

        <p-fieldset legend="Statistics description" [toggleable]="true" collapsed="true">
                <span style="background-color:white "><b>*Found </b></span> => Total number of records available in the source EMR.<br/>
                <span style="background-color:green "><b>*Loaded </b></span>=> Total number of valid records extracted from source EMR<br/>
                <span style="background-color:yellow "><b>*Not Loaded </b></span>=> These are records that are not extracted and associated with the rejected patients. <br/>
                <span style="background-color:red"><b>*Flagged </b></span>=> Total number of invalid unique patient records that need to be cleaned in the source EMR. These records are available below in the validation summary section.<br/>
                <span style="background-color:orange "><b>*Queued </b></span>=> Total number loaded, ready for sending to the data warehouse.<br/>
                <span style="background-color:lightskyblue "><b>*Sent </b></span>=> Total number of records sent to the data warehouse.<br/> 


        </p-fieldset>
        
        
    </div>
</div>

