<div class="card card-w-title">
    <h1>PSMART <span style="color: lightgray">|</span> {{emrName}} <span style="font-size:13px ">{{emrVersion}}</span></h1>
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" [disabled]="!canLoadFromEmr" (click)="loadFromEmr()" label="Load from EMR"
                    icon="ui-icon-file-download" class="green-btn"></button>
        </div>

        <div class="ui-toolbar-group-right">
            <button pButton type="button" [disabled]="!canSend" (click)="send()" label="Send to Registry" icon="ui-icon-cloud-upload"
                    class="blue-btn"></button>
        </div>
    </p-toolbar>

    <p-dataTable [value]="extracts" selectionMode="single">
        <p-column field="display" header="Extract"></p-column>
        <p-column field="extractEvent.lastStatus" header="Status"></p-column>
        <p-column field="extractEvent.found" header="Found"></p-column>
        <p-column field="extractEvent.loaded" header="Loaded"></p-column>
        <p-column field="extractEvent.excluded" header="Excluded"></p-column>
        <p-column field="extractEvent.rejected" header="Rejected"></p-column>
        <p-column field="extractEvent.queued" header="Queued"></p-column>
        <p-column field="extractEvent.sent" header="Sent"></p-column>
    </p-dataTable>
    <p-messages [(value)]="errorMessage"></p-messages>
    <p-growl [(value)]="otherMessage"></p-growl>
</div>

