<div class="card card-w-title">
    <h1>PSMART</h1>
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" label="Load from EMR" icon="ui-icon-file-download" class="green-btn"></button>
            <button pButton type="button" label="Load from Middleware" icon="ui-icon-file-download" class="orange-btn"></button>
        </div>

        <div class="ui-toolbar-group-right">
            <button pButton type="button" label="Send to Registry" icon="ui-icon-cloud-upload" class="blue-btn"></button>
        </div>
    </p-toolbar>

    <p-dataTable [value]="extracts" selectionMode="single">
        <p-column field="display" header="Extract"></p-column>
        <p-column field="" header="Status"></p-column>
        <p-column field="" header="Loaded"></p-column>
        <p-column field="" header="Queued"></p-column>
        <p-column field="" header="Sent"></p-column>
    </p-dataTable>
</div>
