<div class="layout-wrapper" [ngClass]="{'layout-compact':layoutCompact}" (click)="onLayoutClick()">

    <div #layoutContainer class="layout-container"
         [ngClass]="{'menu-layout-static': !isOverlay(),
            'menu-layout-overlay': isOverlay(),
            'layout-menu-overlay-active': overlayMenuActive,
            'menu-layout-horizontal': isHorizontal(),
            'menu-layout-slim': isSlim(),
            'layout-menu-static-inactive': staticMenuDesktopInactive,
            'layout-menu-static-active': staticMenuMobileActive}">

        <liveapp-topbar></liveapp-topbar>

        <div class="layout-menu" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
            <div #layoutMenuScroller class="nano">
                <div class="nano-content menu-scroll-content">
                    <liveapp-app-menu [reset]="resetMenu"></liveapp-app-menu>
                </div>
            </div>
        </div>

        <div class="layout-main">
            <liveapp-app-breadcrumb></liveapp-app-breadcrumb>
            <div class="layout-content">
                <router-outlet></router-outlet>
            </div>
        </div>

        <liveapp-rightpanel></liveapp-rightpanel>

        <div class="layout-mask"></div>
    </div>

</div>
