<div class="footer">
    <div class="card clearfix">
        <span class="footer-text-left">DWAPI (Ver. {{version}}) R3 <span style="color: red">QA Only</span></span>
        <span class="footer-text-right">
            <span class="material-icons ui-icon-copyright"></span>
             <span>
                <i class="material-icons email"></i> <a href="mailto:help@palladiumgroup.on.spiceworks.com">help@palladiumgroup.on.spiceworks.com</a>
                <i class="material-icons ui-icon-phone"></i> <a href="tel:0800-722440">0800-722440</a>
             </span>
        </span>
    </div>
</div>
