<div class="footer">
    <div class="card clearfix">
        <span class="footer-text-left">
            <span style="color: black; font-weight: bolder; background-color: yellow">&nbsp;{{'DWAPI '}}</span>
            <span style="color: green; font-weight: bolder">v{{version}}</span>


          <!--<span style="color: red; font-weight: bolder">3.x QA Only</span>-->

        </span>
        <span class="footer-text-right">
            <span class="material-icons ui-icon-copyright"></span>
             <span>
                <i class="material-icons email"></i> <a href="mailto:help@palladiumgroup.on.spiceworks.com">help@palladiumgroup.on.spiceworks.com</a>
                <i class="material-icons ui-icon-phone"></i> <a href="tel:0800-722440">0800-722440</a>
             </span>
        </span>
    </div>
</div>
