<div class="ui-g">
    <div class="ui-g-12">
        <p-tabView orientation="top" (onChange)="onChange($event)" [activeIndex]="selectedIndex">
            <p-tabPanel [header]="item.display" *ngFor="let item of extracts; let i = index" [selected]="i == selectedIndex">
                <p-tabView>
                    <p-tabPanel [header]="item.display + ' Records'">
                        <liveapp-mnch-valid [extract]="i == selectedIndex?extractName:''" [preventLoad]="isLoading"></liveapp-mnch-valid>
                    </p-tabPanel>
                    <p-tabPanel [header]="item.display + ' Validation Summary'">
                        <liveapp-mnch-invalid [extract]="i == selectedIndex?extractName:''" [preventLoad]="isLoading"></liveapp-mnch-invalid>
                    </p-tabPanel>
                </p-tabView>
            </p-tabPanel>
        </p-tabView>
        <p-messages [(value)]="errorMessage"></p-messages>
    </div>
</div>
