<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g-12" *ngIf="dbSaved">
            <div class="card card-w-title">
                <p-messages [(value)]="sysMessages"></p-messages>
            </div>
        </div>
        <div class="ui-g-6">
            <div class="card card-w-title">
                <h1>DWAPI Database Connection</h1>
                <p-messages [(value)]="dbMessages"></p-messages>
                <form [formGroup]="databaseForm" (ngSubmit)="saveDatabase()">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
              <span class="md-inputfield" style="width: 80%">
                 <p-dropdown [options]="providers" formControlName="provider"></p-dropdown>
                  <label>Database Provider</label>
              </span>
                        </div>
                    </div>
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
              <span class="md-inputfield" style="width: 80%">
                <input type="text" formControlName="server" pInputText style="width: 80%">
                <label>Server</label>
              </span>
                        </div>
                    </div>
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
              <span class="md-inputfield" style="width: 80%">
                <input type="number" formControlName="port" pInputText style="width: 80%">
                <label>Port</label>
              </span>
                        </div>
                    </div>
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
              <span class="md-inputfield" style="width: 80%">
                <input type="text" formControlName="user" pInputText style="width: 80%">
                <label>User</label>
              </span>
                        </div>
                    </div>
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
              <span class="md-inputfield" style="width: 80%">
                <input type="password" formControlName="password" pInputText style="width: 80%">
                <label>Password</label>
              </span>
                        </div>
                    </div>
                    <button pButton type="button" label="Verify Server" (click)="verifyServer()" [disabled]="databaseForm.invalid"></button>
                    <button pButton type="button" label="Verify Database" (click)="verifyDatabase()" [disabled]="databaseForm.invalid"></button>
                    <button pButton type="submit" label="Save" [disabled]="databaseForm.invalid" class="green-btn"></button>
                </form>
            </div>
        </div>
    </div>
</div>
