<div class="ui-g">
  <div class="ui-g-12">
    <p-tabView orientation="top" (onChange)="onChange($event)" [activeIndex]="selectedIndex">
      <p-tabPanel [header]="item.display" *ngFor="let item of extracts; let i = index" [selected]="i == selectedIndex">
          <p-tabView>
              <p-tabPanel [header]="item.display + ' Records'">
                <liveapp-valid-record-details [extract]="extractName" [preventLoad]="isLoading" [extractN]="item.name"></liveapp-valid-record-details>
              </p-tabPanel>
              <p-tabPanel [header]="item.display + ' Validation Summary'">
                <liveapp-invalid-record-details [extract]="extractName" [preventLoad]="isLoading" [extractN]="item.name"></liveapp-invalid-record-details>
              </p-tabPanel>
              <p-tabPanel [header]="item.display + ' Send Summary'">
              </p-tabPanel>
          </p-tabView>
      </p-tabPanel>
  </p-tabView>
  <p-messages [(value)]="errorMessage"></p-messages>
  </div>
</div>
