<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
        <h1>Registry Settings</h1>
        </div>
        <div class="ui-g-6">
            <liveapp-registry-config [docketId]="'NDWH'"></liveapp-registry-config>
        </div>
        <div class="ui-g-6">
            <liveapp-registry-config [docketId]="'CBS'"></liveapp-registry-config>
        </div>
        <div class="ui-g-6">
            <liveapp-registry-config [docketId]="'PSMART'"></liveapp-registry-config>
        </div>
    </div>
</div>
