<p-tabView>
    <p-tabPanel header="PSMART">
        <p-dataTable [value]="psmartExtracts" selectionMode="single" [(selection)]="selectedPsmartExtract" dataKey="id">
            <p-header>Extract Settings</p-header>
            <p-column field="name" header="Name"></p-column>
            <p-column field="display" header="Display"></p-column>
            <p-column field="destination" header="Destination"></p-column>
            <p-column styleClass="col-button" header="Action">
                <ng-template let-extract="rowData" pTemplate="body">
                    <button type="button" pButton (click)="editExtract(extract)" icon="ui-icon-edit" class="green-btn"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="Care and Treatment">
        <p-dataTable [value]="dwhExtracts" selectionMode="single" [(selection)]="selectedDwhExtract" dataKey="id">
            <p-header>Extract Settings</p-header>
            <p-column field="name" header="Name"></p-column>
            <p-column field="display" header="Display"></p-column>
            <p-column field="destination" header="Destination"></p-column>
            <p-column styleClass="col-button" header="Action">
                <ng-template let-extract="rowData" pTemplate="body">
                    <button type="button" pButton (click)="editExtract(extract)" icon="ui-icon-edit" class="green-btn"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="Master Patient Index">
        <p-dataTable [value]="cbsExtracts" selectionMode="single" [(selection)]="selectedCbsExtract" dataKey="id">
            <p-header>Extract Settings</p-header>
            <p-column field="name" header="Name"></p-column>
            <p-column field="display" header="Display"></p-column>
            <p-column field="destination" header="Destination"></p-column>
            <p-column styleClass="col-button" header="Action">
                <ng-template let-extract="rowData" pTemplate="body">
                    <button type="button" pButton (click)="editExtract(extract)" icon="ui-icon-edit" class="green-btn"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="HIV Testing Services">
        <p-dataTable [value]="htsExtracts" selectionMode="single" [(selection)]="selectedHtsExtract" dataKey="id">
            <p-header>Extract Settings</p-header>
            <p-column field="name" header="Name"></p-column>
            <p-column field="display" header="Display"></p-column>
            <p-column field="destination" header="Destination"></p-column>
            <p-column styleClass="col-button" header="Action">
                <ng-template let-extract="rowData" pTemplate="body">
                    <button type="button" pButton (click)="editExtract(extract)" icon="ui-icon-edit" class="green-btn"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="Migration Services">
        <p-dataTable [value]="mgsExtracts" selectionMode="single" [(selection)]="selectedMgsExtract" dataKey="id">
            <p-header>Extract Settings</p-header>
            <p-column field="name" header="Name"></p-column>
            <p-column field="display" header="Display"></p-column>
            <p-column field="destination" header="Destination"></p-column>
            <p-column styleClass="col-button" header="Action">
                <ng-template let-extract="rowData" pTemplate="body">
                    <button type="button" pButton (click)="editExtract(extract)" icon="ui-icon-edit" class="green-btn"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
</p-tabView>

<p-dialog header="Extract" [(visible)]="displayDialog" [width]="500" [responsive]="true" showEffect="fade" [modal]="true">
    <form #emrForm="ngForm" novalidate>

        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="extractDialog">
            <p-messages [(value)]="messages"></p-messages>
            <div class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="name">{{extractDialog.display}} SQL</label>
                </div>
                <div class="ui-g-12">
                    <textarea pInputText id="name" name="name" required [(ngModel)]="extractDialog.extractSql"></textarea>
                </div>
            </div>
            <div class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="name">Database</label>
                </div>
                <div class="ui-g-12">
                    <p-dropdown [options]="dbs" name="databaseProtocolId" [(ngModel)]="selectedDb" placeholder="Select Database"></p-dropdown>
                </div>
            </div>
        </div>

    </form>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="submit" pButton icon="ui-icon-save" (click)="updateExtract()" label="Save" [disabled]="!emrForm.form.valid"></button>
        </div>
    </p-footer>
</p-dialog>
