<div class="row">
    <p-messages [(value)]="messages"></p-messages>
    <p-growl [(value)]="notifications"></p-growl>
    <div class="col-md-3">
        <h3>Select file</h3>

        <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <input type="file" id="file" uploader="uploader" multiple (change)="onSelectChange($event)" accept=".zip"/><br />
        <div id="result"></div>
        <div class="dropzone" appDnd (filesChangeEmiter)="onFilesChange($event)" (filesInvalidEmiter)="onFileInvalids($event)" [allowed_extensions]="['zip']">
            <div style="height:100px;" class="text-wrapper">
                <div class="centered">Drop your file here!</div>
            </div>
        </div>
    </div>
    <div class="col-md-9" style="margin-bottom: 40px">
        <h3>Add File here</h3>
        <p>Queue length: {{ uploader.queue.length }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <!--<th ng-show="uploader.isHTML5">Progress</th>-->
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td>
                        <strong>{{ item.file.name }}</strong>
                        <!-- Image preview -->
                        <!--auto height-->
                        <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                        <!--auto width-->
                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        <!--fixed width and height -->
                        <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                    </td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024 | number }} MB</td>
                    <!--<td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>-->
                                         
                    <td class="text-center">
                        <i [ngClass]="{'fa fa-check': uploadSuccessCT}"></i>
                        <i [ngClass]="{'fa fa-check': uploadSuccessPrep}"></i>
                        <i [ngClass]="{'fa fa-check': uploadSuccessMnch}"></i>
                        <i [ngClass]="{'fa fa-check': uploadSuccessHts}"></i>
                        <!--<span *ngIf="item.isSuccess"><i class="fa fa-check"></i></span>
                        <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                        <span *ngIf="item.isError"><i class="ui-icon-remove"></i></span>-->

                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" (click)="upload(item.id)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="fa fa-upload"></span> Upload
                        </button>
                       
                        <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(item.id)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="fa ui-icon-trash"></span> Remove
                        </button>

                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <!--<div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress + '%' }"></div>
                </div>
            </div>-->
            <button type="button" class="btn btn-success btn-s" (click)="uploadAll()">
                <span class="fa fa-upload"></span> Upload all
            </button>


        </div>

        <p-messages [(value)]="errorMessage"></p-messages>
        <p-growl [(value)]="otherMessage"></p-growl>
        <div class="ui-g" *ngIf="sending">
            <div class="ui-g-12">
                Sending C&T Extracts, please wait ...
                <p-progressBar [value]="progresss"></p-progressBar>
            </div>
        </div>

        <div class="ui-g" *ngIf="sendingHts">
            <div class="ui-g-12">
                Sending HTS Extracts, please wait ...
                <p-progressBar [value]="progressHts"></p-progressBar>
            </div>
        </div>
        <div class="ui-g" *ngIf="sendingMnch">
            <div class="ui-g-12">
                 Sending MNCH Extracts, please wait ...
                <p-progressBar [value]="progressMnch"></p-progressBar>
            </div>
        </div>
        <div class="ui-g" *ngIf="sendingPrep">
            <div class="ui-g-12">
                Sending PrEP Extracts, please wait ...
                <p-progressBar [value]="progressPrep"></p-progressBar>
            </div>
        </div>
    </div>
</div>



