<div class="card card-w-title">
    <h1>PrEP Services <span style="color: lightgray">|</span> {{emrName}} <span style="font-size:13px ">{{emrVersion}}</span>
    <span style="font-size:13px; color: red">{{minEMRVersion}}</span></h1>
    <p-growl [(value)]="notifications"></p-growl>

    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" [disabled]="!canLoadFromEmr" (click)="loadFromEmr()" label="Load from EMR"
                    icon="ui-icon-file-download" class="green-btn"></button>
        </div>

        <div class="ui-toolbar-group-right">
            <button pButton type="button" [disabled]="!canSend" (click)="send()" label="Send to Warehouse" icon="ui-icon-cloud-upload"
                    class="blue-btn"></button>
        </div>
    </p-toolbar>

    <p-dataTable [value]="extracts" selectionMode="single" [scrollable]="true" autoLayout="true" resizableColumns="true" columnResizeMode="expand">
        <p-column field="display" [style]="{'width': '220.985px'}" header="Extract"></p-column>
        <p-column field="extractEvent.lastStatus" header="Status" ></p-column>
        <p-column field="extractEvent.found" header="(A) Found"></p-column>
        <p-column field="extractEvent.loaded" header="Loaded" [style]="{'background-color': 'ligprepkyblue'}"></p-column>
        <p-column field="extractEvent.excluded" header="(B) Flagged " [style]="{'background-color': 'lightgray'}"></p-column>
        <p-column field="extractEvent.rejected" header="(C) Rejected "[style]="{'background-color': 'tomato'}"></p-column>
        <p-column field="extractEvent.queued" header="(D) Queued (A - C)" [style]="{'background-color': 'orange'}"></p-column>
        <p-column field="extractEvent.sent" header="Sent" [style]="{'background-color': 'lightgreen'}"></p-column>
    </p-dataTable>
    <div class="ui-g" *ngIf="sendingManifest">
        <div class="ui-g-12">
            Stage 1 of 2: Sending manifest...
            <p-progressBar mode="indeterminate"></p-progressBar>
        </div>
    </div>

    <div class="ui-g" *ngIf="sending">
        <div class="ui-g-12">
            Stage 2 of 2: Sending Extracts, please wait ...
            <p-progressBar showValue="true" [value]="sendEvent?.sentProgress"></p-progressBar>
        </div>
    </div>
    <p-messages [(value)]="errorMessage"></p-messages>
    <p-growl [(value)]="otherMessage"></p-growl>
    <div>

        <p-fieldset legend="KEY" [toggleable]="true">
            <span style="background-color:white "><b>*Found </b></span> => Number of records available in EMR for each dataset.<br />
            ------------------------------------------------------------------------------------------------------------------------------<br />
            <span style="background-color:ligprepkyblue "><b>*Loaded </b></span>=> Number of valid records loaded from EMR for each dataset<br />
            ------------------------------------------------------------------------------------------------------------------------------<br />
            <span style="background-color:tomato "><b>*Rejected </b></span>=> Records in the extract that will not be sent to the <br />
            warehouse because they belong to a patient(s) with errors. <br />
            ------------------------------------------------------------------------------------------------------------------------------<br />
            <span style="background-color:lightgray"><b>*Flagged </b></span>=> Number of Unique patient records with one or more issues that need to be cleaned in the source EMR.<br />
            These issues are recorded for review in the validation summary section.<br />
            For better data quality, site data managers/HRIOs should clean these records before sending to the datawarehouse<br />
            ------------------------------------------------------------------------------------------------------------------------------<br />
            <span style="background-color:orange "><b>*Queued </b></span>=> Number of records in each dataset ready for sending to the data warehouse.
            These records will include flagged records that have not been cleaned.<br />
            ------------------------------------------------------------------------------------------------------------------------------<br />
            <span style="background-color:lightgreen "><b>*Sent </b></span>=> Total number of records sent to the data warehouse.<br />
            ------------------------------------------------------------------------------------------------------------------------------<br />

        </p-fieldset>


    </div>
</div>
