<div class="card card-w-title">
    <h1>Case Based Surveillance <span style="color: lightgray">|</span> {{emrSystem?.name}} <span style="font-size:13px ">{{emrSystem?.version}}</span></h1>
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" [disabled]="!canLoad" (click)="loadFromEmr()" label="Load from EMR"
                    icon="ui-icon-file-download" class="green-btn"></button>
        </div>

        <div class="ui-toolbar-group-right">
            <button pButton type="button" [disabled]="!canSend" (click)="send()" label="Send to Registry" icon="ui-icon-cloud-upload"
                    class="blue-btn"></button>
        </div>
    </p-toolbar>

    <p-dataTable [value]="extracts" selectionMode="single"   resizableColumns="true">
        <p-column field="display" header="Extract"></p-column>
        <p-column field="extractEvent.lastStatus" header="Status"></p-column>
        <p-column field="extractEvent.found" header="Found"></p-column>
        <p-column field="extractEvent.loaded" header="Loaded"></p-column>
        <p-column field="extractEvent.rejected" header="Rejected"></p-column>
        <p-column field="extractEvent.queued" header="Queued"></p-column>
        <p-column field="extractEvent.sent" header="Sent"></p-column>
    </p-dataTable>
    <p-messages [(value)]="messages"></p-messages>

</div>

<div class="card card-w-title">
    <h1>Extract Details</h1>
    <p-dataTable [value]="extractDetails" selectionMode="single"  autoLayout="true" resizableColumns="true"
                 [loading]="loading"  loadingIcon="fa-spinner fa-pulse"
                 [reorderableColumns]="true" columnResizeMode="fit" [resizableColumns]="true" [paginator]="true" [rows]="200"
                 [totalRecords]="recordCount"
    >
        <p-column field="serial" header="Serial" [filter]="true"></p-column>
        <p-column field="firstName_Normalized" header="First Name" sortable="true" [filter]="true" filterMatchMode="contains" filterMatchMode="contains"></p-column>
        <p-column field="middleName_Normalized" header="Middle Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="lastName_Normalized" header="Last Name"  sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="patientPhoneNumber" header="Phone"></p-column>
        <p-column field="gender" header="Gender" [filter]="true" sortable="true" filterMatchMode="contains"></p-column>
        <p-column field="dob" header="Birth Date" sortable="true">
            <ng-template let-col let-detail="rowData" pTemplate="body">
                {{detail.dob | date: 'dd MMM yyyy'}}
            </ng-template>
        </p-column>

    </p-dataTable>
</div>
