<div class="card card-w-title">
        <div class="ui-g">
            <h1>
                Master Patient Index
                <span style="color: lightgray">|</span> {{emrSystem?.name}}
                <span style="font-size:13px ">{{emrVersion}}</span>
                <span style="font-size:13px; color: red">{{minEMRVersion}}</span>
            </h1>
            <p-messages [(value)]="metricMessages"></p-messages>
    </div>

    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" [disabled]="!canLoad" (click)="loadFromEmr()" label="Load from EMR" icon="ui-icon-file-download"
                class="green-btn"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" [disabled]="!canSend" (click)="send()" label="Send Warehouse"
                    icon="ui-icon-cloud-upload" class="blue-btn"></button>
        </div>
    </p-toolbar>
    <p-dataTable [value]="extracts" selectionMode="single" resizableColumns="true">
        <p-column field="display" header="Extract"></p-column>
        <p-column field="extractEvent.lastStatus" header="Status"></p-column>
        <p-column field="extractEvent.found" header="Found"></p-column>
        <p-column field="extractEvent.loaded" header="Loaded"></p-column>
        <p-column field="extractEvent.rejected" header="Flagged"></p-column>
        <p-column field="extractEvent.queued" header="Queued"></p-column>
        <p-column field="extractEvent.sent" header="Sent"></p-column>
    </p-dataTable>

    <div class="ui-g" *ngIf="sendingManifest">
        <div class="ui-g-12">
            Stage 1 of 2: Sending manifest...
            <p-progressBar mode="indeterminate"></p-progressBar>
        </div>
    </div>

    <div class="ui-g" *ngIf="sending">
        <div class="ui-g-12">
            Stage 2 of 2: Sending Extracts, please wait ...
            <p-progressBar [value]="sendEvent?.sentProgress"></p-progressBar>
        </div>
    </div>

    <p-messages [(value)]="messages"></p-messages>
    <p-growl [(value)]="notifications"></p-growl>


</div>
<div class="card card-w-title">
    <h1>Extract Details</h1>

    <p-tabView>
        <p-tabPanel header="Master Patient Index Records">
            <p-toolbar>
                    <div class="ui-toolbar-group-left">
                            <button type="button" pButton icon="ui-icon-cloud-download" iconPos="left" label="Export All" (click)="persons.exportCSV()" class="blue-btn"></button>
                    </div>
            </p-toolbar>
            <p-dataTable [value]="allExtractDetails" selectionMode="single" [scrollable]="true" autoLayout="true" resizableColumns="true"
                [loading]="loading" loadingIcon="fa-spinner fa-pulse" [reorderableColumns]="true" columnResizeMode="expand" [resizableColumns]="true"
                [paginator]="true" [rows]="25" [totalRecords]="recordCount" exportFilename="DwapiMpiAll" #persons>
                <p-column field="serial" header="Serial" [filter]="true"></p-column>
                <p-column field="firstName_Normalized" header="First Name" sortable="true" [filter]="true" filterMatchMode="contains" filterMatchMode="contains"></p-column>
                <p-column field="middleName_Normalized" header="Middle Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="lastName_Normalized" header="Last Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="patientPhoneNumber" header="Phone"></p-column>
                <p-column field="gender" header="Gender" [filter]="true" sortable="true" filterMatchMode="contains"></p-column>
                <p-column field="dob" header="Birth Date" sortable="true">
                    <ng-template let-col let-detail="rowData" pTemplate="body">
                        {{detail.dob | date: 'dd MMM yyyy'}}
                    </ng-template>
                </p-column>
                <p-column field="jaroWinklerScore" header="JaroWinklerScore" sortable="true"></p-column>
                <p-column field="sxdmPKValueDoB" header="sxdmPKValueDoB" sortable="true"></p-column>
                <p-column field="contactAddress" header="Contact Address" sortable="true" hidden = "true"></p-column>
                <p-column field="contactName" header="Contact Name" sortable="true" hidden = "true"></p-column>
                <p-column field="contactPhoneNumber" header="Contact Phone Number" sortable="true" hidden = "true"></p-column>
                <p-column field="contactRelation" header="Contact Relation" sortable="true" hidden = "true"></p-column>
                <p-column field="dateExtracted" header="Date Extracted" sortable="true" hidden = "true"></p-column>
                <p-column field="national_ID" header="National Id" sortable="true" hidden = "true"></p-column>
                <p-column field="startARTDate" header="Start ART Date" sortable="true" hidden = "true"></p-column>
                <p-column field="startARTRegimenCode" header="Start ART Regimen Code" sortable="true" hidden = "true"></p-column>
                <p-column field="county" header="County" sortable="true" hidden = "true"></p-column>
                <p-column field="subCounty" header="Sub County" sortable="true" hidden = "true"></p-column>
            </p-dataTable>
        </p-tabPanel>
        <p-tabPanel header="Master Patient Duplicates Summary">
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button type="button" pButton icon="ui-icon-cloud-download" iconPos="left" label="Export All" (click)="duplicatepersons.exportCSV()" class="blue-btn"></button>
                </div>
            </p-toolbar>
            <p-dataTable [value]="extractDetails" selectionMode="single" [scrollable]="true" autoLayout="true" resizableColumns="true"
                         [loading]="loadingAll" loadingIcon="fa-spinner fa-pulse" [reorderableColumns]="true" columnResizeMode="expand" [resizableColumns]="true"
                         [paginator]="true" [rows]="25" [totalRecords]="recordCount" exportFilename="DwapiMpiDups" #duplicatepersons>
                <p-column field="serial" header="Serial" [filter]="true"></p-column>
                <p-column field="firstName_Normalized" header="First Name" sortable="true" [filter]="true" filterMatchMode="contains" filterMatchMode="contains"></p-column>
                <p-column field="middleName_Normalized" header="Middle Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="lastName_Normalized" header="Last Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="patientPhoneNumber" header="Phone"></p-column>
                <p-column field="gender" header="Gender" [filter]="true" sortable="true" filterMatchMode="contains"></p-column>
                <p-column field="dob" header="Birth Date" sortable="true">
                    <ng-template let-col let-detail="rowData" pTemplate="body">
                        {{detail.dob | date: 'dd MMM yyyy'}}
                    </ng-template>
                </p-column>
                <p-column field="jaroWinklerScore" header="JaroWinklerScore" sortable="true"></p-column>
                <p-column field="sxdmPKValueDoB" header="sxdmPKValueDoB" sortable="true"></p-column>
                <p-column field="contactAddress" header="Contact Address" sortable="true" hidden = "true"></p-column>
                <p-column field="contactName" header="Contact Name" sortable="true" hidden = "true"></p-column>
                <p-column field="contactPhoneNumber" header="Contact Phone Number" sortable="true" hidden = "true"></p-column>
                <p-column field="contactRelation" header="Contact Relation" sortable="true" hidden = "true"></p-column>
                <p-column field="dateExtracted" header="Date Extracted" sortable="true" hidden = "true"></p-column>
                <p-column field="national_ID" header="National Id" sortable="true" hidden = "true"></p-column>
                <p-column field="startARTDate" header="Start ART Date" sortable="true" hidden = "true"></p-column>
                <p-column field="startARTRegimenCode" header="Start ART Regimen Code" sortable="true" hidden = "true"></p-column>
                <p-column field="county" header="County" sortable="true" hidden = "true"></p-column>
                <p-column field="subCounty" header="Sub County" sortable="true" hidden = "true"></p-column>
            </p-dataTable>
        </p-tabPanel>
    </p-tabView>
</div>
