<div class="ui-g">
    <div class="ui-g-12">
        <p-messages ></p-messages>

        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Merged Dockets</h1>
<!--                <p-progressBar [value]="value" [showValue]="true" ></p-progressBar>-->


                <div>
                    <div id="multi-step-form-container">
                        <!-- Form Steps / Progress Bar -->
                        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
                            <!-- Step 1 -->
                            <li class="{{stepOneIsActive}} text-center form-stepper-list" step="1">
                                <a class="mx-2">
                                    <span class="form-stepper-circle">
                                        <span>1</span>
                                    </span>
                                    <div class="label">Refresh ETL tables</div>
                                </a>
                            </li>
                            <!-- Step 2 -->
                            <li class="{{stepTwoIsActive}} text-center form-stepper-list" step="2">
                                <a class="mx-2">
                                    <span class="form-stepper-circle text-muted">
                                        <span>2</span>
                                    </span>
                                    <div class="label text-muted">Load C&T</div>
                                </a>
                            </li>
                            <!-- Step 3 -->
                            <li class="{{stepThreeIsActive}} text-center form-stepper-list" step="3">
                                <a class="mx-2">
                                    <span class="form-stepper-circle text-muted">
                                        <span>3</span>
                                    </span>
                                    <div class="label text-muted">Load HTS</div>
                                </a>
                            </li>
                            <!-- Step 4 -->
                            <li class="{{stepFourIsActive}} text-center form-stepper-list" step="4">
                                <a class="mx-2">
                                    <span class="form-stepper-circle text-muted">
                                        <span>4</span>
                                    </span>
                                    <div class="label text-muted">Load MNCH</div>
                                </a>
                            </li>
                            <!-- Step 5 -->
                            <li class="{{stepFiveIsActive}} text-center form-stepper-list" step="5">
                                <a class="mx-2">
                                    <span class="form-stepper-circle text-muted">
                                        <span>5</span>
                                    </span>
                                    <div class="label text-muted">Load PREP</div>
                                </a>
                            </li>
                        </ul>

<!--                        <p-progressBar [value]="step" [showValue]="true" ></p-progressBar>-->

                        <div class="step-section" >
                            <div class="{{stepOneIsActive}}">
                                <p>Refreshing ETL tables</p>
                                <p-progressBar [value]="barValue" [showValue]="true"></p-progressBar>
<!--                                <button id="refreshTables" (click)="getDefaultEMR()"></button>-->
                            </div>
                            <div class="{{stepTwoIsActive}} ">
                                <liveapp-ndwh-docket></liveapp-ndwh-docket>
                            </div>
                            <div class="{{stepThreeIsActive}}">
                                <liveapp-hts-docket></liveapp-hts-docket>
                            </div>
                            <div class="{{stepFourIsActive}} ">
                                <liveapp-mnch-docket></liveapp-mnch-docket>
                            </div>
                            <div class="{{stepFiveIsActive}} ">
                                <liveapp-prep-docket></liveapp-prep-docket>
                            </div>
                        </div>

<!--                        <button class="button btn-navigate-form-step" type="button" step_number="2" (click)="moveNext(step+1)">Next</button>-->

                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
