<div class="card card-w-title">


    <h2>File List</h2>
    <p *ngIf="showProgress"> progress <strong>{{percentage}}%</strong></p>
    <label class="error" [hidden]="!showDownloadError">error downloading</label>
    <div class="container">
        <ul>
            <li *ngFor="let file of files">
                <a icon="ui-icon-archive">
                    {{file}}
                    <app-download [disabled]="showProgress" [fileName]="file" (downloadStatus)="downloadStatus($event)"></app-download>
                </a>
            </li>
        </ul>
    </div>









</div>

