.ui-progressbar-value {
    background-color: orange !important;
}
.ui-progressbar {
    background-color: gainsboro !important;
}

.ui-progressbar-indeterminate {
    background-color: gainsboro !important;
}
