<div class="card card-w-title">
        <div class="ui-g">
            <h1>
                Client Registry Services
                <span style="color: lightgray">|</span> {{emrSystem?.name}}
                <!--<span style="font-size:13px ">{{emrVersion}}</span>-->
                <span style="font-size:13px; color: red">{{minEMRVersion}}</span>
            </h1>
            <p-messages [(value)]="metricMessages"></p-messages>
    </div>

    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" [disabled]="!canLoad" (click)="loadFromEmr()" label="Load from EMR" icon="ui-icon-file-download"
                class="green-btn"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" [disabled]="!canSend" (click)="send()" label="Send Warehouse"
                    icon="ui-icon-cloud-upload" class="blue-btn"></button>
        </div>
    </p-toolbar>
    <p-dataTable [value]="extracts" selectionMode="single" resizableColumns="true">
        <p-column field="display" header="Extract"></p-column>
        <p-column field="extractEvent.lastStatus" header="Status"></p-column>
        <p-column field="extractEvent.found" header="Found"></p-column>
        <p-column field="extractEvent.loaded" header="Loaded"></p-column>
        <p-column field="extractEvent.rejected" header="Flagged"></p-column>
        <p-column field="extractEvent.queued" header="Queued"></p-column>
        <p-column field="extractEvent.sent" header="Sent"></p-column>
    </p-dataTable>

    <div class="ui-g" *ngIf="sendingManifest">
        <div class="ui-g-12">
            Stage 1 of 2: Sending manifest...
            <p-progressBar mode="indeterminate"></p-progressBar>
        </div>
    </div>

    <div class="ui-g" *ngIf="sending">
        <div class="ui-g-12">
            Stage 2 of 2: Sending Extracts, please wait ...
            <p-progressBar [value]="sendEvent?.sentProgress"></p-progressBar>
        </div>
    </div>

    <p-messages [(value)]="messages"></p-messages>
    <p-growl [(value)]="notifications"></p-growl>


</div>
<div class="card card-w-title">
    <h1>Extract Details</h1>

    <p-tabView>
        <p-tabPanel header="Client Registry Extract Records">
            <p-toolbar>
                    <div class="ui-toolbar-group-left">
                            <button type="button" pButton icon="ui-icon-cloud-download" style="display:none" iconPos="left" label="Export All" (click)="persons.exportCSV()" class="blue-btn"></button>
                    </div>
            </p-toolbar>
            <p-dataTable [value]="allExtractDetails" selectionMode="single" [scrollable]="true" autoLayout="true" resizableColumns="true"
                [loading]="loading" loadingIcon="fa-spinner fa-pulse" [reorderableColumns]="true" columnResizeMode="expand" [resizableColumns]="true"
                [paginator]="true" [rows]="10" [totalRecords]="recordCount" scrollWidth="800"  exportFilename="DwapiCrsAll" #persons>
                <p-column field="cccNumber" header="CCC Number"  [style]="{'width':'100px'}" ></p-column>

                <p-column field="dateOfInitiation" header="Date Of Initiation" sortable="true" [style]="{'width':'100px'}">
                    <ng-template let-col let-detail="rowData" pTemplate="body">
                        {{detail.dateOfInitiation | date: 'dd MMM yyyy'}}
                    </ng-template>
                </p-column>
                <p-column field="treatmentOutcome" header="TreatmentOutcome" sortable="true"  [style]="{'width':'100px'}"></p-column>
                <p-column field="dateOfLastEncounter" header="Date Of Last Encounter" sortable="true" [style]="{'width':'100px'}">
                    <ng-template let-col let-detail="rowData" pTemplate="body">
                        {{detail.dateOfLastEncounter | date: 'dd MMM yyyy'}}
                    </ng-template>
                </p-column>

                <p-column field="dateOfLastViralLoad" header="Date Of Last Viral Load" sortable="true" [style]="{'width':'100px'}">
                    <ng-template let-col let-detail="rowData" pTemplate="body">
                        {{detail.dateOfLastViralLoad | date: 'dd MMM yyyy'}}
                    </ng-template>
                </p-column>

                <p-column field="nextAppointmentDate" header="Next Appointment Date" sortable="true" [style]="{'width':'100px'}">
                    <ng-template let-col let-detail="rowData" pTemplate="body">
                        {{detail.nextAppointmentDate | date: 'dd MMM yyyy'}}
                    </ng-template>
                </p-column>

                <p-column field="dateOfHIVdiagnosis" header="Date HIV diagnosis Confirmed" sortable="true" [style]="{'width':'100px'}">
                    <ng-template let-col let-detail="rowData" pTemplate="body">
                        {{detail.dateOfHIVdiagnosis | date: 'dd MMM yyyy'}}
                    </ng-template>
                </p-column>

                <p-column field="lastViralLoadResult" header="Last Viral Load Result" sortable="true" [style]="{'width':'100px'}">
                    <ng-template let-col let-detail="rowData" pTemplate="body">
                        {{detail.lastViralLoadResult | date: 'dd MMM yyyy'}}
                    </ng-template>
                </p-column>

                <p-column field="lastRegimen" header="Last Regimen" sortable="true"  [style]="{'width':'100px'}"></p-column>
                <p-column field="lastRegimenLine" header="Last Regimen Line" sortable="true"  [style]="{'width':'100px'}"></p-column>
                <p-column field="patientPK" header="PatientPK"  [style]="{'width':'100px'}" ></p-column>
                <p-column field="siteCode" header="SiteCode"  [style]="{'width':'100px'}" ></p-column>
                <p-column field="facilityId" header="FacilityID"  sortable="true" [style]="{'width':'100px'}" ></p-column>

                <p-column field="firstName" header="First Name" sortable="true" [style]="{'width':'100px'}" [filter]="true" filterMatchMode="contains" filterMatchMode="contains"></p-column>
                <p-column field="middleName" header="Middle Name" sortable="true" [style]="{'width':'100px'}" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="lastName" header="Last Name" sortable="true" [style]="{'width':'100px'}" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column field="passport" header="Passport"  [style]="{'width':'100px'}" ></p-column>
                <p-column field="hudumaNumber" header="HudumaNumber"  [style]="{'width':'100px'}" ></p-column>
                <p-column field="birthCertificateNumber" header="BirthCertificateNumber" sortable="true" [style]="{'width':'100px'}" ></p-column>
                <p-column field="alienIdNo" header="AlienIdNo" sortable="true" [style]="{'width':'100px'}" ></p-column>
                <p-column field="drivingLicenseNumber" header="DrivingLicenseNumber" sortable="true" [style]="{'width':'100px'}" ></p-column>
                <p-column field="patientClinicNumber" header="PatientClinicNumber" sortable="true" [style]="{'width':'100px'}" ></p-column>
                <p-column field="highestLevelOfEducation" header="HighestLevelOfEducation" sortable="true" [style]="{'width':'100px'}" ></p-column>

                <p-column field="maritalStatus" header="Marital Status" [style]="{'width':'100px'}"></p-column>
                <p-column field="sex" header="Sex" [filter]="true" sortable="true" [style]="{'width':'100px'}" filterMatchMode="contains"></p-column>
                <p-column field="occupation" header="Occupation" sortable="true" [style]="{'width':'100px'}" ></p-column>
                <p-column field="currentOnART" header="Current On ART" [style]="{'width':'100px'}" ></p-column>
                <p-column field="dateOfBirth" header="Date Of Birth" sortable="true" [style]="{'width':'100px'}">
                    <ng-template let-col let-detail="rowData" pTemplate="body">
                        {{detail.dateOfBirth | date: 'dd MMM yyyy'}}
                    </ng-template>
                </p-column>
                <p-column field="phoneNumber" header="Phone Number"  [style]="{'width':'100px'}" ></p-column>
                <p-column field="alternativePhoneNumber" header="Alternative Phone Number" sortable="true" [style]="{'width':'100px'}" ></p-column>
                <p-column field="spousePhoneNumber" header="SpousePhoneNumber" sortable="true" sortable="true" [style]="{'width':'100px'}"></p-column>
                <p-column field="nationalId" header="National Id"  [style]="{'width':'100px'}" sortable="true" ></p-column>

                <p-column field="county" header="County" sortable="true" [style]="{'width':'100px'}" ></p-column>
                <p-column field="subCounty" header="Sub County" [style]="{'width':'100px'}"   ></p-column>
                <p-column field="ward" header="Ward" sortable="true" [style]="{'width':'100px'}" ></p-column>
                <p-column field="location" header="Location"  [style]="{'width':'100px'}" ></p-column>
                <p-column field="village" header="Village"  [style]="{'width':'100px'}" ></p-column>
                <p-column field="landmark" header="Landmark"  [style]="{'width':'100px'}" ></p-column>

                <p-column field="facilityName" header="FacilityName"  [style]="{'width':'100px'}" ></p-column>
                <p-column field="mflCode" header="MFLCode" sortable="true"  [style]="{'width':'100px'}"></p-column>
                <p-column field="nameOfNextOfKin" header="Name Of Next Of Kin"  [style]="{'width':'100px'}"></p-column>
                <p-column field="nextOfKinRelationship" header="Next Of Kin Relationship" sortable="true"  [style]="{'width':'100px'}"></p-column>
                <p-column field="nextOfKinTelNo" header="NextOfKinTelNo" sortable="true"  [style]="{'width':'100px'}"></p-column>

                <p-column field="emr" header="Emr"  [style]="{'width':'100px'}" ></p-column>
                <p-column field="project" header="Project"  [style]="{'width':'100px'}" ></p-column>



            </p-dataTable>
        </p-tabPanel>
        <p-tabPanel header="Extract Summary">
          <div>
              <p>Total Clients - {{totalClients?.totalExtractClients}}</p>
              <p>Total CurrentOnART -  {{totalClients?.totalCurrentOnCare}} </p>
          </div>
        </p-tabPanel>

    </p-tabView>
</div>
